$mainBg: hsl(233, 47%, 7%);
$cardBg: hsl(244, 38%, 16%);
$accColor: hsl(277, 64%, 61%);
$mainWhite: hsl(0, 0%, 100%);
$secondWhite: hsla(0, 0%, 100%, 0.75);
$thirdWhite: hsla(0, 0%, 100%, 0.6);
 
@mixin heading-font($weight){
    font-family: 'Inter', sans-serif;
    font-weight: $weight;
}

@mixin body-font {
    font-family: 'Lexen Deca', sans-serif;
    font-weight: 400;
}

.container{
    background-color: $mainBg;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}